body {
    font-family: Arial;
    background: #eef4ff;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    width: 95%;
    padding: 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #0d47a1;
}